body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1633px;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1633px;
}
#u331 {
  position:absolute;
  left:2px;
  top:808px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:1633px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:1633px;
}
#u333 {
  position:absolute;
  left:2px;
  top:808px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u334 {
  position:absolute;
  left:472px;
  top:316px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u335 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u336 {
  position:absolute;
  left:472px;
  top:580px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u337 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u338 {
  position:absolute;
  left:607px;
  top:660px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u339 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u340 {
  position:absolute;
  left:607px;
  top:820px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u341 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u342 {
  position:absolute;
  left:607px;
  top:930px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u343 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u344 {
  position:absolute;
  left:522px;
  top:376px;
  width:0px;
  height:0px;
}
#u344_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:208px;
}
#u344_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u344_seg2 {
  position:absolute;
  left:-10px;
  top:191px;
  width:20px;
  height:20px;
}
#u345 {
  position:absolute;
  left:-50px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346 {
  position:absolute;
  left:522px;
  top:640px;
  width:0px;
  height:0px;
}
#u346_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u346_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:143px;
  height:8px;
}
#u346_seg2 {
  position:absolute;
  left:131px;
  top:6px;
  width:8px;
  height:14px;
}
#u346_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u346_seg4 {
  position:absolute;
  left:125px;
  top:7px;
  width:20px;
  height:20px;
}
#u347 {
  position:absolute;
  left:18px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:657px;
  top:720px;
  width:0px;
  height:0px;
}
#u348_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u348_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u348_seg2 {
  position:absolute;
  left:-10px;
  top:87px;
  width:20px;
  height:20px;
}
#u349 {
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350 {
  position:absolute;
  left:657px;
  top:880px;
  width:0px;
  height:0px;
}
#u350_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u350_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u350_seg2 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u351 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u352 {
  position:absolute;
  left:864px;
  top:316px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u353 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u354 {
  position:absolute;
  left:572px;
  top:346px;
  width:0px;
  height:0px;
}
#u354_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:296px;
  height:8px;
}
#u354_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u354_seg2 {
  position:absolute;
  left:279px;
  top:-10px;
  width:20px;
  height:20px;
}
#u355 {
  position:absolute;
  left:96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u356 {
  position:absolute;
  left:864px;
  top:440px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u357 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u358 {
  position:absolute;
  left:914px;
  top:376px;
  width:0px;
  height:0px;
}
#u358_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u358_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u358_seg2 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u359 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u360 {
  position:absolute;
  left:864px;
  top:686px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u361 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u362 {
  position:absolute;
  left:914px;
  top:500px;
  width:0px;
  height:0px;
}
#u362_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:190px;
}
#u362_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u362_seg2 {
  position:absolute;
  left:-10px;
  top:173px;
  width:20px;
  height:20px;
}
#u363 {
  position:absolute;
  left:-50px;
  top:85px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364 {
  position:absolute;
  left:1257px;
  top:1130px;
  width:0px;
  height:0px;
}
#u364_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u364_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u364_seg2 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u365 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u366 {
  position:absolute;
  left:600px;
  top:514px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u367 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u368 {
  position:absolute;
  left:572px;
  top:610px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u368_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u368_seg1 {
  position:absolute;
  left:14px;
  top:-70px;
  width:8px;
  height:74px;
}
#u368_seg2 {
  position:absolute;
  left:14px;
  top:-70px;
  width:14px;
  height:8px;
}
#u368_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u368_seg4 {
  position:absolute;
  left:15px;
  top:-76px;
  width:20px;
  height:20px;
}
#u369 {
  position:absolute;
  left:-32px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:650px;
  top:514px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u370_seg0 {
  position:absolute;
  left:-4px;
  top:-172px;
  width:8px;
  height:172px;
}
#u370_seg1 {
  position:absolute;
  left:-4px;
  top:-172px;
  width:218px;
  height:8px;
}
#u370_seg2 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u370_seg3 {
  position:absolute;
  left:201px;
  top:-178px;
  width:20px;
  height:20px;
}
#u371 {
  position:absolute;
  left:-27px;
  top:-176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372 {
  position:absolute;
  left:914px;
  top:376px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u372_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u372_seg1 {
  position:absolute;
  left:-396px;
  top:36px;
  width:400px;
  height:8px;
}
#u372_seg2 {
  position:absolute;
  left:-396px;
  top:36px;
  width:8px;
  height:168px;
}
#u372_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u372_seg4 {
  position:absolute;
  left:-402px;
  top:191px;
  width:20px;
  height:20px;
}
#u373 {
  position:absolute;
  left:-308px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u374 {
  position:absolute;
  left:730px;
  top:514px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u375 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u376 {
  position:absolute;
  left:707px;
  top:960px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u376_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u376_seg1 {
  position:absolute;
  left:69px;
  top:-386px;
  width:8px;
  height:390px;
}
#u376_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u376_seg3 {
  position:absolute;
  left:63px;
  top:-393px;
  width:20px;
  height:20px;
}
#u377 {
  position:absolute;
  left:23px;
  top:-164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  position:absolute;
  left:780px;
  top:514px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u378_seg0 {
  position:absolute;
  left:-4px;
  top:-172px;
  width:8px;
  height:172px;
}
#u378_seg1 {
  position:absolute;
  left:-4px;
  top:-172px;
  width:88px;
  height:8px;
}
#u378_seg2 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u378_seg3 {
  position:absolute;
  left:71px;
  top:-178px;
  width:20px;
  height:20px;
}
#u379 {
  position:absolute;
  left:-50px;
  top:-134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
