body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1053px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1343 {
  position:absolute;
  left:160px;
  top:46px;
  width:898px;
  height:783px;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u1346 {
  position:absolute;
  left:298px;
  top:0px;
  width:298px;
  height:45px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:45px;
}
#u1348 {
  position:absolute;
  left:596px;
  top:0px;
  width:297px;
  height:45px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:14px;
  width:293px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u1350 {
  position:absolute;
  left:0px;
  top:45px;
  width:298px;
  height:222px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u1352 {
  position:absolute;
  left:298px;
  top:45px;
  width:298px;
  height:222px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:222px;
}
#u1354 {
  position:absolute;
  left:596px;
  top:45px;
  width:297px;
  height:222px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:103px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:329px;
}
#u1356 {
  position:absolute;
  left:0px;
  top:267px;
  width:298px;
  height:329px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:156px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:329px;
}
#u1358 {
  position:absolute;
  left:298px;
  top:267px;
  width:298px;
  height:329px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:156px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:329px;
}
#u1360 {
  position:absolute;
  left:596px;
  top:267px;
  width:297px;
  height:329px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:156px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:182px;
}
#u1362 {
  position:absolute;
  left:0px;
  top:596px;
  width:298px;
  height:182px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:83px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:182px;
}
#u1364 {
  position:absolute;
  left:298px;
  top:596px;
  width:298px;
  height:182px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:83px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:182px;
}
#u1366 {
  position:absolute;
  left:596px;
  top:596px;
  width:297px;
  height:182px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:83px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  position:absolute;
  left:555px;
  top:155px;
  width:100px;
  height:60px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1370 {
  position:absolute;
  left:605px;
  top:215px;
  width:0px;
  height:0px;
}
#u1370_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1370_seg1 {
  position:absolute;
  left:-250px;
  top:36px;
  width:254px;
  height:8px;
}
#u1370_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1370_seg3 {
  position:absolute;
  left:-257px;
  top:30px;
  width:20px;
  height:20px;
}
#u1371 {
  position:absolute;
  left:-155px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  position:absolute;
  left:3px;
  top:180px;
  width:100px;
  height:35px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:3px;
  top:225px;
  width:100px;
  height:35px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:3px;
  top:270px;
  width:100px;
  height:35px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1378 {
  position:absolute;
  left:160px;
  top:1px;
  width:100px;
  height:35px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:280px;
  top:1px;
  width:100px;
  height:35px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1382 {
  position:absolute;
  left:305px;
  top:130px;
  width:0px;
  height:0px;
}
#u1382_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u1382_seg1 {
  position:absolute;
  left:-4px;
  top:51px;
  width:254px;
  height:8px;
}
#u1382_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1382_seg3 {
  position:absolute;
  left:237px;
  top:45px;
  width:20px;
  height:20px;
}
#u1383 {
  position:absolute;
  left:48px;
  top:47px;
  width:100px;
  word-wrap:break-word;
}
#u1384 {
  position:absolute;
  left:320px;
  top:115px;
  width:0px;
  height:0px;
}
#u1384_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:289px;
  height:8px;
}
#u1384_seg1 {
  position:absolute;
  left:281px;
  top:-4px;
  width:8px;
  height:44px;
}
#u1384_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1384_seg3 {
  position:absolute;
  left:275px;
  top:27px;
  width:20px;
  height:20px;
}
#u1385 {
  position:absolute;
  left:112px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1386 {
  position:absolute;
  left:3px;
  top:315px;
  width:100px;
  height:35px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1388 {
  position:absolute;
  left:130px;
  top:90px;
  width:30px;
  height:219px;
  font-size:16px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:72px;
  width:26px;
  word-wrap:break-word;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1390 {
  position:absolute;
  left:130px;
  top:319px;
  width:30px;
  height:231px;
  font-size:16px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:78px;
  width:26px;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1392 {
  position:absolute;
  left:130px;
  top:640px;
  width:30px;
  height:180px;
  font-size:16px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:52px;
  width:26px;
  word-wrap:break-word;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1394 {
  position:absolute;
  left:290px;
  top:100px;
  width:30px;
  height:30px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1396 {
  position:absolute;
  left:255px;
  top:225px;
  width:100px;
  height:60px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398 {
  position:absolute;
  left:850px;
  top:155px;
  width:100px;
  height:60px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1400 {
  position:absolute;
  left:305px;
  top:100px;
  width:0px;
  height:0px;
}
#u1400_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:599px;
  height:8px;
}
#u1400_seg1 {
  position:absolute;
  left:591px;
  top:-4px;
  width:8px;
  height:59px;
}
#u1400_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1400_seg3 {
  position:absolute;
  left:585px;
  top:42px;
  width:20px;
  height:20px;
}
#u1401 {
  position:absolute;
  left:275px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1402 {
  position:absolute;
  left:860px;
  top:360px;
  width:100px;
  height:60px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  position:absolute;
  left:860px;
  top:460px;
  width:100px;
  height:60px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1406 {
  position:absolute;
  left:305px;
  top:285px;
  width:0px;
  height:0px;
}
#u1406_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u1406_seg1 {
  position:absolute;
  left:-4px;
  top:101px;
  width:559px;
  height:8px;
}
#u1406_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1406_seg3 {
  position:absolute;
  left:542px;
  top:95px;
  width:20px;
  height:20px;
}
#u1407 {
  position:absolute;
  left:175px;
  top:97px;
  width:100px;
  word-wrap:break-word;
}
#u1408 {
  position:absolute;
  left:305px;
  top:285px;
  width:0px;
  height:0px;
}
#u1408_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:209px;
}
#u1408_seg1 {
  position:absolute;
  left:-4px;
  top:201px;
  width:559px;
  height:8px;
}
#u1408_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1408_seg3 {
  position:absolute;
  left:542px;
  top:195px;
  width:20px;
  height:20px;
}
#u1409 {
  position:absolute;
  left:125px;
  top:197px;
  width:100px;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  position:absolute;
  left:255px;
  top:550px;
  width:100px;
  height:60px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1412 {
  position:absolute;
  left:960px;
  top:390px;
  width:0px;
  height:0px;
}
#u1412_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1412_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:198px;
}
#u1412_seg2 {
  position:absolute;
  left:-605px;
  top:186px;
  width:619px;
  height:8px;
}
#u1412_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1412_seg4 {
  position:absolute;
  left:-612px;
  top:180px;
  width:20px;
  height:20px;
}
#u1413 {
  position:absolute;
  left:-248px;
  top:182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414 {
  position:absolute;
  left:910px;
  top:520px;
  width:0px;
  height:0px;
}
#u1414_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u1414_seg1 {
  position:absolute;
  left:-555px;
  top:56px;
  width:559px;
  height:8px;
}
#u1414_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1414_seg3 {
  position:absolute;
  left:-562px;
  top:50px;
  width:20px;
  height:20px;
}
#u1415 {
  position:absolute;
  left:-298px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416 {
  position:absolute;
  left:305px;
  top:610px;
  width:0px;
  height:0px;
}
#u1416_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u1416_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1416_seg2 {
  position:absolute;
  left:-10px;
  top:117px;
  width:20px;
  height:20px;
}
#u1417 {
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1418 {
  position:absolute;
  left:255px;
  top:740px;
  width:100px;
  height:60px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
