body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:823px;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:823px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:404px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:1110px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:-10px;
  top:0px;
  width:1470px;
  height:1110px;
  opacity:0.5;
}
#u1423 {
  position:absolute;
  left:2px;
  top:547px;
  width:1466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u1424 {
  position:absolute;
  left:370px;
  top:320px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u1425 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1426 {
  position:absolute;
  left:420px;
  top:470px;
  width:0px;
  height:0px;
}
#u1426_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1426_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1426_seg2 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u1427 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u1428 {
  position:absolute;
  left:370px;
  top:410px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u1429 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u1430 {
  position:absolute;
  left:370px;
  top:500px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u1431 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u1432 {
  position:absolute;
  left:510px;
  top:500px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u1433 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1434 {
  position:absolute;
  left:420px;
  top:380px;
  width:0px;
  height:0px;
}
#u1434_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1434_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1434_seg2 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u1435 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436 {
  position:absolute;
  left:470px;
  top:530px;
  width:0px;
  height:0px;
}
#u1436_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1436_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1436_seg2 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1437 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u1438 {
  position:absolute;
  left:670px;
  top:500px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u1439 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1440 {
  position:absolute;
  left:610px;
  top:530px;
  width:0px;
  height:0px;
}
#u1440_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1440_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1440_seg2 {
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1441 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u1442 {
  position:absolute;
  left:670px;
  top:600px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u1443 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1444 {
  position:absolute;
  left:720px;
  top:560px;
  width:0px;
  height:0px;
}
#u1444_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1444_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1444_seg2 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u1445 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u1446 {
  position:absolute;
  left:820px;
  top:500px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u1447 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1448 {
  position:absolute;
  left:770px;
  top:530px;
  width:0px;
  height:0px;
}
#u1448_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1448_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1448_seg2 {
  position:absolute;
  left:37px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1449 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
