body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u157 {
  position:absolute;
  left:160px;
  top:46px;
  width:898px;
  height:1593px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u159 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u160 {
  position:absolute;
  left:298px;
  top:0px;
  width:298px;
  height:45px;
}
#u161 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:45px;
}
#u162 {
  position:absolute;
  left:596px;
  top:0px;
  width:297px;
  height:45px;
}
#u163 {
  position:absolute;
  left:2px;
  top:14px;
  width:293px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u164 {
  position:absolute;
  left:0px;
  top:45px;
  width:298px;
  height:222px;
}
#u165 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u166 {
  position:absolute;
  left:298px;
  top:45px;
  width:298px;
  height:222px;
}
#u167 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:222px;
}
#u168 {
  position:absolute;
  left:596px;
  top:45px;
  width:297px;
  height:222px;
}
#u169 {
  position:absolute;
  left:2px;
  top:103px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u170 {
  position:absolute;
  left:0px;
  top:267px;
  width:298px;
  height:232px;
}
#u171 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u172 {
  position:absolute;
  left:298px;
  top:267px;
  width:298px;
  height:232px;
}
#u173 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:232px;
}
#u174 {
  position:absolute;
  left:596px;
  top:267px;
  width:297px;
  height:232px;
}
#u175 {
  position:absolute;
  left:2px;
  top:108px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:584px;
}
#u176 {
  position:absolute;
  left:0px;
  top:499px;
  width:298px;
  height:584px;
}
#u177 {
  position:absolute;
  left:2px;
  top:284px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:584px;
}
#u178 {
  position:absolute;
  left:298px;
  top:499px;
  width:298px;
  height:584px;
}
#u179 {
  position:absolute;
  left:2px;
  top:284px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:584px;
}
#u180 {
  position:absolute;
  left:596px;
  top:499px;
  width:297px;
  height:584px;
}
#u181 {
  position:absolute;
  left:2px;
  top:284px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:351px;
}
#u182 {
  position:absolute;
  left:0px;
  top:1083px;
  width:298px;
  height:351px;
}
#u183 {
  position:absolute;
  left:2px;
  top:168px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:351px;
}
#u184 {
  position:absolute;
  left:298px;
  top:1083px;
  width:298px;
  height:351px;
}
#u185 {
  position:absolute;
  left:2px;
  top:168px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:351px;
}
#u186 {
  position:absolute;
  left:596px;
  top:1083px;
  width:297px;
  height:351px;
}
#u187 {
  position:absolute;
  left:2px;
  top:168px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u188 {
  position:absolute;
  left:0px;
  top:1434px;
  width:298px;
  height:154px;
}
#u189 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u190 {
  position:absolute;
  left:298px;
  top:1434px;
  width:298px;
  height:154px;
}
#u191 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:154px;
}
#u192 {
  position:absolute;
  left:596px;
  top:1434px;
  width:297px;
  height:154px;
}
#u193 {
  position:absolute;
  left:2px;
  top:69px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:255px;
  top:228px;
  width:100px;
  height:60px;
}
#u195 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:484px;
  top:396px;
  width:100px;
  height:60px;
}
#u197 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  position:absolute;
  left:484px;
  top:552px;
  width:100px;
  height:60px;
}
#u199 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:484px;
  top:763px;
  width:100px;
  height:60px;
}
#u201 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  position:absolute;
  left:300px;
  top:869px;
  width:100px;
  height:60px;
}
#u203 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:534px;
  top:456px;
  width:0px;
  height:0px;
}
#u204_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u204_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u204_seg2 {
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:20px;
}
#u205 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u206 {
  position:absolute;
  left:519px;
  top:336px;
  width:30px;
  height:30px;
}
#u207 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:355px;
  top:258px;
  width:0px;
  height:0px;
}
#u208_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:183px;
  height:8px;
}
#u208_seg1 {
  position:absolute;
  left:175px;
  top:-4px;
  width:8px;
  height:82px;
}
#u208_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u208_seg3 {
  position:absolute;
  left:169px;
  top:65px;
  width:20px;
  height:20px;
}
#u209 {
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:534px;
  top:366px;
  width:0px;
  height:0px;
}
#u210_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u210_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u210_seg2 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u211 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:484px;
  top:582px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u212_seg1 {
  position:absolute;
  left:-58px;
  top:-235px;
  width:8px;
  height:239px;
}
#u212_seg2 {
  position:absolute;
  left:-58px;
  top:-235px;
  width:93px;
  height:8px;
}
#u212_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u212_seg4 {
  position:absolute;
  left:22px;
  top:-241px;
  width:20px;
  height:20px;
}
#u213 {
  position:absolute;
  left:-104px;
  top:-141px;
  width:100px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u214 {
  position:absolute;
  left:740px;
  top:336px;
  width:30px;
  height:30px;
}
#u215 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:814px;
  top:321px;
  width:100px;
  height:60px;
}
#u217 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:549px;
  top:351px;
  width:0px;
  height:0px;
}
#u218_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:195px;
  height:8px;
}
#u218_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u218_seg2 {
  position:absolute;
  left:178px;
  top:-10px;
  width:20px;
  height:20px;
}
#u219 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:814px;
  top:459px;
  width:100px;
  height:60px;
}
#u221 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:770px;
  top:351px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u222_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u222_seg2 {
  position:absolute;
  left:31px;
  top:-10px;
  width:20px;
  height:20px;
}
#u223 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:770px;
  top:351px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u224_seg1 {
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:146px;
}
#u224_seg2 {
  position:absolute;
  left:26px;
  top:134px;
  width:18px;
  height:8px;
}
#u224_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u224_seg4 {
  position:absolute;
  left:31px;
  top:128px;
  width:20px;
  height:20px;
}
#u225 {
  position:absolute;
  left:-20px;
  top:45px;
  width:100px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:864px;
  top:519px;
  width:0px;
  height:0px;
}
#u226_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u226_seg1 {
  position:absolute;
  left:-280px;
  top:59px;
  width:284px;
  height:8px;
}
#u226_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u226_seg3 {
  position:absolute;
  left:-287px;
  top:53px;
  width:20px;
  height:20px;
}
#u227 {
  position:absolute;
  left:-158px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:484px;
  top:869px;
  width:100px;
  height:60px;
}
#u229 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:3px;
  top:180px;
  width:100px;
  height:35px;
}
#u231 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:3px;
  top:225px;
  width:100px;
  height:35px;
}
#u233 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:3px;
  top:270px;
  width:100px;
  height:35px;
}
#u235 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:640px;
  top:869px;
  width:100px;
  height:60px;
}
#u237 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:300px;
  top:1365px;
  width:100px;
  height:60px;
}
#u239 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:948px;
  top:1502px;
  width:100px;
  height:60px;
}
#u241 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  position:absolute;
  left:255px;
  top:510px;
  width:100px;
  height:60px;
}
#u243 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:305px;
  top:288px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:226px;
}
#u244_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u244_seg2 {
  position:absolute;
  left:-10px;
  top:209px;
  width:20px;
  height:20px;
}
#u245 {
  position:absolute;
  left:-50px;
  top:103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:948px;
  top:510px;
  width:100px;
  height:60px;
}
#u247 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:914px;
  top:489px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u248_seg1 {
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:59px;
}
#u248_seg2 {
  position:absolute;
  left:13px;
  top:47px;
  width:21px;
  height:8px;
}
#u248_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u248_seg4 {
  position:absolute;
  left:21px;
  top:41px;
  width:20px;
  height:20px;
}
#u249 {
  position:absolute;
  left:-33px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:160px;
  top:1px;
  width:100px;
  height:35px;
}
#u251 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  position:absolute;
  left:280px;
  top:1px;
  width:100px;
  height:35px;
}
#u253 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:400px;
  top:1px;
  width:100px;
  height:35px;
}
#u255 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  position:absolute;
  left:948px;
  top:321px;
  width:100px;
  height:60px;
}
#u257 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:914px;
  top:351px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u258_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u258_seg2 {
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u259 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u260 {
  position:absolute;
  left:290px;
  top:135px;
  width:30px;
  height:30px;
}
#u261 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:305px;
  top:165px;
  width:0px;
  height:0px;
}
#u262_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u262_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u262_seg2 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u263 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  position:absolute;
  left:790px;
  top:120px;
  width:100px;
  height:60px;
}
#u265 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:320px;
  top:150px;
  width:0px;
  height:0px;
}
#u266_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:474px;
  height:8px;
}
#u266_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u266_seg2 {
  position:absolute;
  left:457px;
  top:-10px;
  width:20px;
  height:20px;
}
#u267 {
  position:absolute;
  left:185px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:840px;
  top:180px;
  width:0px;
  height:0px;
}
#u268_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u268_seg1 {
  position:absolute;
  left:-310px;
  top:76px;
  width:314px;
  height:8px;
}
#u268_seg2 {
  position:absolute;
  left:-310px;
  top:76px;
  width:8px;
  height:80px;
}
#u268_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u268_seg4 {
  position:absolute;
  left:-316px;
  top:143px;
  width:20px;
  height:20px;
}
#u269 {
  position:absolute;
  left:-201px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u270 {
  position:absolute;
  left:484px;
  top:652px;
  width:100px;
  height:60px;
}
#u271 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:534px;
  top:612px;
  width:0px;
  height:0px;
}
#u272_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u272_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u272_seg2 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u273 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274 {
  position:absolute;
  left:610px;
  top:763px;
  width:100px;
  height:60px;
}
#u275 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:584px;
  top:682px;
  width:0px;
  height:0px;
}
#u276_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u276_seg1 {
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:85px;
}
#u276_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u276_seg3 {
  position:absolute;
  left:66px;
  top:68px;
  width:20px;
  height:20px;
}
#u277 {
  position:absolute;
  left:26px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:534px;
  top:712px;
  width:0px;
  height:0px;
}
#u278_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u278_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u278_seg2 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u279 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  position:absolute;
  left:3px;
  top:315px;
  width:100px;
  height:35px;
}
#u281 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282 {
  position:absolute;
  left:640px;
  top:1056px;
  width:100px;
  height:60px;
}
#u283 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:534px;
  top:823px;
  width:0px;
  height:0px;
}
#u284_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u284_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u284_seg2 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u285 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:584px;
  top:899px;
  width:0px;
  height:0px;
}
#u286_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u286_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u286_seg2 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u287 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:484px;
  top:899px;
  width:0px;
  height:0px;
}
#u288_seg0 {
  position:absolute;
  left:-84px;
  top:-4px;
  width:88px;
  height:8px;
}
#u288_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u288_seg2 {
  position:absolute;
  left:-91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u289 {
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  position:absolute;
  left:760px;
  top:1502px;
  width:100px;
  height:60px;
}
#u291 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:350px;
  top:1425px;
  width:0px;
  height:0px;
}
#u292_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:111px;
}
#u292_seg1 {
  position:absolute;
  left:-4px;
  top:103px;
  width:414px;
  height:8px;
}
#u292_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u292_seg3 {
  position:absolute;
  left:397px;
  top:97px;
  width:20px;
  height:20px;
}
#u293 {
  position:absolute;
  left:102px;
  top:99px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:860px;
  top:1532px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u294_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u294_seg2 {
  position:absolute;
  left:75px;
  top:-10px;
  width:20px;
  height:20px;
}
#u295 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296 {
  position:absolute;
  left:740px;
  top:899px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u296_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u296_seg1 {
  position:absolute;
  left:11px;
  top:-533px;
  width:8px;
  height:537px;
}
#u296_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u296_seg3 {
  position:absolute;
  left:5px;
  top:-540px;
  width:20px;
  height:20px;
}
#u297 {
  position:absolute;
  left:-35px;
  top:-267px;
  width:100px;
  word-wrap:break-word;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  position:absolute;
  left:300px;
  top:1155px;
  width:100px;
  height:60px;
}
#u299 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  position:absolute;
  left:300px;
  top:1265px;
  width:100px;
  height:60px;
}
#u301 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:690px;
  top:1116px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u302_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u302_seg1 {
  position:absolute;
  left:-290px;
  top:65px;
  width:294px;
  height:8px;
}
#u302_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u302_seg3 {
  position:absolute;
  left:-297px;
  top:59px;
  width:20px;
  height:20px;
}
#u303 {
  position:absolute;
  left:-160px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:350px;
  top:1215px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u304_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u304_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u304_seg2 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u305 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:350px;
  top:1325px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u306_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u306_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u306_seg2 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u307 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u308 {
  position:absolute;
  left:130px;
  top:90px;
  width:30px;
  height:219px;
  font-size:16px;
}
#u309 {
  position:absolute;
  left:2px;
  top:72px;
  width:26px;
  word-wrap:break-word;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u310 {
  position:absolute;
  left:130px;
  top:319px;
  width:30px;
  height:231px;
  font-size:16px;
}
#u311 {
  position:absolute;
  left:2px;
  top:78px;
  width:26px;
  word-wrap:break-word;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u312 {
  position:absolute;
  left:130px;
  top:550px;
  width:30px;
  height:508px;
  font-size:16px;
}
#u313 {
  position:absolute;
  left:2px;
  top:216px;
  width:26px;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u314 {
  position:absolute;
  left:130px;
  top:1058px;
  width:30px;
  height:198px;
  font-size:16px;
}
#u315 {
  position:absolute;
  left:2px;
  top:61px;
  width:26px;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u316 {
  position:absolute;
  left:130px;
  top:1360px;
  width:30px;
  height:120px;
  font-size:16px;
}
#u317 {
  position:absolute;
  left:2px;
  top:22px;
  width:26px;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  position:absolute;
  left:484px;
  top:1265px;
  width:100px;
  height:60px;
}
#u319 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:400px;
  top:1295px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u320_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u320_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u320_seg2 {
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u321 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322 {
  position:absolute;
  left:640px;
  top:960px;
  width:100px;
  height:60px;
}
#u323 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:690px;
  top:929px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u324_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u324_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u324_seg2 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u325 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326 {
  position:absolute;
  left:690px;
  top:1020px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u326_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u326_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u326_seg2 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u327 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328 {
  position:absolute;
  left:710px;
  top:793px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u328_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:414px;
  height:8px;
}
#u328_seg1 {
  position:absolute;
  left:406px;
  top:-446px;
  width:8px;
  height:450px;
}
#u328_seg2 {
  position:absolute;
  left:338px;
  top:-446px;
  width:76px;
  height:8px;
}
#u328_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u328_seg4 {
  position:absolute;
  left:331px;
  top:-452px;
  width:20px;
  height:20px;
}
#u329 {
  position:absolute;
  left:360px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
