body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u514 {
  position:absolute;
  left:160px;
  top:46px;
  width:1195px;
  height:1360px;
}
#u515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u516 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u517 {
  position:absolute;
  left:298px;
  top:0px;
  width:298px;
  height:45px;
}
#u518 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u519 {
  position:absolute;
  left:596px;
  top:0px;
  width:298px;
  height:45px;
}
#u520 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:45px;
}
#u521 {
  position:absolute;
  left:894px;
  top:0px;
  width:296px;
  height:45px;
}
#u522 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:218px;
}
#u523 {
  position:absolute;
  left:0px;
  top:45px;
  width:298px;
  height:218px;
}
#u524 {
  position:absolute;
  left:2px;
  top:101px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:218px;
}
#u525 {
  position:absolute;
  left:298px;
  top:45px;
  width:298px;
  height:218px;
}
#u526 {
  position:absolute;
  left:2px;
  top:101px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:218px;
}
#u527 {
  position:absolute;
  left:596px;
  top:45px;
  width:298px;
  height:218px;
}
#u528 {
  position:absolute;
  left:2px;
  top:101px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:218px;
}
#u529 {
  position:absolute;
  left:894px;
  top:45px;
  width:296px;
  height:218px;
}
#u530 {
  position:absolute;
  left:2px;
  top:101px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:218px;
}
#u531 {
  position:absolute;
  left:0px;
  top:263px;
  width:298px;
  height:218px;
}
#u532 {
  position:absolute;
  left:2px;
  top:101px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:218px;
}
#u533 {
  position:absolute;
  left:298px;
  top:263px;
  width:298px;
  height:218px;
}
#u534 {
  position:absolute;
  left:2px;
  top:101px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:218px;
}
#u535 {
  position:absolute;
  left:596px;
  top:263px;
  width:298px;
  height:218px;
}
#u536 {
  position:absolute;
  left:2px;
  top:101px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:218px;
}
#u537 {
  position:absolute;
  left:894px;
  top:263px;
  width:296px;
  height:218px;
}
#u538 {
  position:absolute;
  left:2px;
  top:101px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:542px;
}
#u539 {
  position:absolute;
  left:0px;
  top:481px;
  width:298px;
  height:542px;
}
#u540 {
  position:absolute;
  left:2px;
  top:263px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:542px;
}
#u541 {
  position:absolute;
  left:298px;
  top:481px;
  width:298px;
  height:542px;
}
#u542 {
  position:absolute;
  left:2px;
  top:263px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:542px;
}
#u543 {
  position:absolute;
  left:596px;
  top:481px;
  width:298px;
  height:542px;
}
#u544 {
  position:absolute;
  left:2px;
  top:263px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:542px;
}
#u545 {
  position:absolute;
  left:894px;
  top:481px;
  width:296px;
  height:542px;
}
#u546 {
  position:absolute;
  left:2px;
  top:263px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:203px;
}
#u547 {
  position:absolute;
  left:0px;
  top:1023px;
  width:298px;
  height:203px;
}
#u548 {
  position:absolute;
  left:2px;
  top:94px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:203px;
}
#u549 {
  position:absolute;
  left:298px;
  top:1023px;
  width:298px;
  height:203px;
}
#u550 {
  position:absolute;
  left:2px;
  top:94px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:203px;
}
#u551 {
  position:absolute;
  left:596px;
  top:1023px;
  width:298px;
  height:203px;
}
#u552 {
  position:absolute;
  left:2px;
  top:94px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:203px;
}
#u553 {
  position:absolute;
  left:894px;
  top:1023px;
  width:296px;
  height:203px;
}
#u554 {
  position:absolute;
  left:2px;
  top:94px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:129px;
}
#u555 {
  position:absolute;
  left:0px;
  top:1226px;
  width:298px;
  height:129px;
}
#u556 {
  position:absolute;
  left:2px;
  top:56px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:129px;
}
#u557 {
  position:absolute;
  left:298px;
  top:1226px;
  width:298px;
  height:129px;
}
#u558 {
  position:absolute;
  left:2px;
  top:56px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:129px;
}
#u559 {
  position:absolute;
  left:596px;
  top:1226px;
  width:298px;
  height:129px;
}
#u560 {
  position:absolute;
  left:2px;
  top:56px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:129px;
}
#u561 {
  position:absolute;
  left:894px;
  top:1226px;
  width:296px;
  height:129px;
}
#u562 {
  position:absolute;
  left:2px;
  top:56px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  position:absolute;
  left:255px;
  top:228px;
  width:100px;
  height:60px;
}
#u564 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  position:absolute;
  left:484px;
  top:399px;
  width:100px;
  height:60px;
}
#u566 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u567 {
  position:absolute;
  left:484px;
  top:555px;
  width:100px;
  height:60px;
}
#u568 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u569 {
  position:absolute;
  left:484px;
  top:774px;
  width:100px;
  height:60px;
}
#u570 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  position:absolute;
  left:300px;
  top:880px;
  width:100px;
  height:60px;
}
#u572 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u573 {
  position:absolute;
  left:534px;
  top:459px;
  width:0px;
  height:0px;
}
#u573_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u573_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u573_seg2 {
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:20px;
}
#u574 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u575 {
  position:absolute;
  left:519px;
  top:335px;
  width:30px;
  height:30px;
}
#u576 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577 {
  position:absolute;
  left:534px;
  top:365px;
  width:0px;
  height:0px;
}
#u577_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u577_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u577_seg2 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u578 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579 {
  position:absolute;
  left:484px;
  top:585px;
  width:0px;
  height:0px;
}
#u579_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u579_seg1 {
  position:absolute;
  left:-24px;
  top:-239px;
  width:8px;
  height:243px;
}
#u579_seg2 {
  position:absolute;
  left:-24px;
  top:-239px;
  width:59px;
  height:8px;
}
#u579_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u579_seg4 {
  position:absolute;
  left:22px;
  top:-245px;
  width:20px;
  height:20px;
}
#u580 {
  position:absolute;
  left:-70px;
  top:-143px;
  width:100px;
  word-wrap:break-word;
}
#u581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u581 {
  position:absolute;
  left:740px;
  top:335px;
  width:30px;
  height:30px;
}
#u582 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  position:absolute;
  left:814px;
  top:320px;
  width:100px;
  height:60px;
}
#u584 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u585 {
  position:absolute;
  left:549px;
  top:350px;
  width:0px;
  height:0px;
}
#u585_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:195px;
  height:8px;
}
#u585_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u585_seg2 {
  position:absolute;
  left:178px;
  top:-10px;
  width:20px;
  height:20px;
}
#u586 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  position:absolute;
  left:814px;
  top:458px;
  width:100px;
  height:60px;
}
#u588 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u589 {
  position:absolute;
  left:770px;
  top:350px;
  width:0px;
  height:0px;
}
#u589_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u589_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u589_seg2 {
  position:absolute;
  left:31px;
  top:-10px;
  width:20px;
  height:20px;
}
#u590 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591 {
  position:absolute;
  left:770px;
  top:350px;
  width:0px;
  height:0px;
}
#u591_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u591_seg1 {
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:146px;
}
#u591_seg2 {
  position:absolute;
  left:26px;
  top:134px;
  width:18px;
  height:8px;
}
#u591_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u591_seg4 {
  position:absolute;
  left:31px;
  top:128px;
  width:20px;
  height:20px;
}
#u592 {
  position:absolute;
  left:-20px;
  top:45px;
  width:100px;
  word-wrap:break-word;
}
#u593 {
  position:absolute;
  left:864px;
  top:518px;
  width:0px;
  height:0px;
}
#u593_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u593_seg1 {
  position:absolute;
  left:-280px;
  top:63px;
  width:284px;
  height:8px;
}
#u593_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u593_seg3 {
  position:absolute;
  left:-287px;
  top:57px;
  width:20px;
  height:20px;
}
#u594 {
  position:absolute;
  left:-156px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u595 {
  position:absolute;
  left:484px;
  top:880px;
  width:100px;
  height:60px;
}
#u596 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u597 {
  position:absolute;
  left:6px;
  top:180px;
  width:100px;
  height:35px;
}
#u598 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u599 {
  position:absolute;
  left:6px;
  top:225px;
  width:100px;
  height:35px;
}
#u600 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  position:absolute;
  left:6px;
  top:270px;
  width:100px;
  height:35px;
}
#u602 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  position:absolute;
  left:640px;
  top:880px;
  width:100px;
  height:60px;
}
#u604 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  position:absolute;
  left:1240px;
  top:1105px;
  width:100px;
  height:60px;
}
#u606 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u607 {
  position:absolute;
  left:1140px;
  top:1120px;
  width:30px;
  height:30px;
}
#u608 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  position:absolute;
  left:1105px;
  top:1040px;
  width:100px;
  height:60px;
}
#u610 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u611 {
  position:absolute;
  left:1155px;
  top:1120px;
  width:0px;
  height:0px;
}
#u611_seg0 {
  position:absolute;
  left:-4px;
  top:-20px;
  width:8px;
  height:24px;
}
#u611_seg1 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u611_seg2 {
  position:absolute;
  left:-10px;
  top:-27px;
  width:20px;
  height:20px;
}
#u612 {
  position:absolute;
  left:-50px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613 {
  position:absolute;
  left:1170px;
  top:1135px;
  width:0px;
  height:0px;
}
#u613_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u613_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u613_seg2 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u614 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  position:absolute;
  left:1240px;
  top:1200px;
  width:100px;
  height:60px;
}
#u616 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u617 {
  position:absolute;
  left:1290px;
  top:1165px;
  width:0px;
  height:0px;
}
#u617_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u617_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u617_seg2 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u618 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:300px;
  top:1200px;
  width:100px;
  height:60px;
}
#u620 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u621 {
  position:absolute;
  left:1240px;
  top:1230px;
  width:0px;
  height:0px;
}
#u621_seg0 {
  position:absolute;
  left:-840px;
  top:-4px;
  width:844px;
  height:8px;
}
#u621_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u621_seg2 {
  position:absolute;
  left:-847px;
  top:-10px;
  width:20px;
  height:20px;
}
#u622 {
  position:absolute;
  left:-470px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  position:absolute;
  left:948px;
  top:1304px;
  width:100px;
  height:60px;
}
#u624 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  position:absolute;
  left:255px;
  top:499px;
  width:100px;
  height:60px;
}
#u626 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u627 {
  position:absolute;
  left:305px;
  top:288px;
  width:0px;
  height:0px;
}
#u627_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:215px;
}
#u627_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u627_seg2 {
  position:absolute;
  left:-10px;
  top:198px;
  width:20px;
  height:20px;
}
#u628 {
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  position:absolute;
  left:948px;
  top:497px;
  width:100px;
  height:60px;
}
#u630 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u631 {
  position:absolute;
  left:914px;
  top:488px;
  width:0px;
  height:0px;
}
#u631_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u631_seg1 {
  position:absolute;
  left:80px;
  top:-4px;
  width:8px;
  height:13px;
}
#u631_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u631_seg3 {
  position:absolute;
  left:74px;
  top:-4px;
  width:20px;
  height:20px;
}
#u632 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633 {
  position:absolute;
  left:160px;
  top:1px;
  width:100px;
  height:35px;
}
#u634 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:280px;
  top:1px;
  width:100px;
  height:35px;
}
#u636 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  position:absolute;
  left:400px;
  top:1px;
  width:100px;
  height:35px;
}
#u638 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639 {
  position:absolute;
  left:948px;
  top:320px;
  width:100px;
  height:60px;
}
#u640 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u641 {
  position:absolute;
  left:914px;
  top:350px;
  width:0px;
  height:0px;
}
#u641_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u641_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u641_seg2 {
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u642 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u643 {
  position:absolute;
  left:290px;
  top:135px;
  width:30px;
  height:30px;
}
#u644 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645 {
  position:absolute;
  left:305px;
  top:165px;
  width:0px;
  height:0px;
}
#u645_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u645_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u645_seg2 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u646 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:790px;
  top:120px;
  width:100px;
  height:60px;
}
#u648 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u649 {
  position:absolute;
  left:320px;
  top:150px;
  width:0px;
  height:0px;
}
#u649_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:474px;
  height:8px;
}
#u649_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u649_seg2 {
  position:absolute;
  left:457px;
  top:-10px;
  width:20px;
  height:20px;
}
#u650 {
  position:absolute;
  left:185px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u651 {
  position:absolute;
  left:840px;
  top:180px;
  width:0px;
  height:0px;
}
#u651_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u651_seg1 {
  position:absolute;
  left:-310px;
  top:76px;
  width:314px;
  height:8px;
}
#u651_seg2 {
  position:absolute;
  left:-310px;
  top:76px;
  width:8px;
  height:79px;
}
#u651_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u651_seg4 {
  position:absolute;
  left:-316px;
  top:142px;
  width:20px;
  height:20px;
}
#u652 {
  position:absolute;
  left:-200px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u653 {
  position:absolute;
  left:484px;
  top:663px;
  width:100px;
  height:60px;
}
#u654 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:534px;
  top:615px;
  width:0px;
  height:0px;
}
#u655_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u655_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u655_seg2 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u656 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(29, 185, 236, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  position:absolute;
  left:610px;
  top:774px;
  width:100px;
  height:60px;
}
#u658 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:584px;
  top:693px;
  width:0px;
  height:0px;
}
#u659_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u659_seg1 {
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:85px;
}
#u659_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u659_seg3 {
  position:absolute;
  left:66px;
  top:68px;
  width:20px;
  height:20px;
}
#u660 {
  position:absolute;
  left:26px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u661 {
  position:absolute;
  left:534px;
  top:723px;
  width:0px;
  height:0px;
}
#u661_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u661_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u661_seg2 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u662 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 182, 96, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  position:absolute;
  left:6px;
  top:315px;
  width:100px;
  height:35px;
}
#u664 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:640px;
  top:983px;
  width:100px;
  height:60px;
}
#u666 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u667 {
  position:absolute;
  left:690px;
  top:940px;
  width:0px;
  height:0px;
}
#u667_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u667_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u667_seg2 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u668 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  position:absolute;
  left:690px;
  top:1043px;
  width:0px;
  height:0px;
}
#u669_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u669_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:100px;
}
#u669_seg2 {
  position:absolute;
  left:-4px;
  top:88px;
  width:454px;
  height:8px;
}
#u669_seg3 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u669_seg4 {
  position:absolute;
  left:437px;
  top:82px;
  width:20px;
  height:20px;
}
#u670 {
  position:absolute;
  left:129px;
  top:84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:534px;
  top:834px;
  width:0px;
  height:0px;
}
#u671_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u671_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u671_seg2 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u672 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673 {
  position:absolute;
  left:584px;
  top:910px;
  width:0px;
  height:0px;
}
#u673_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u673_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u673_seg2 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u674 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675 {
  position:absolute;
  left:484px;
  top:910px;
  width:0px;
  height:0px;
}
#u675_seg0 {
  position:absolute;
  left:-84px;
  top:-4px;
  width:88px;
  height:8px;
}
#u675_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u675_seg2 {
  position:absolute;
  left:-91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u676 {
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:760px;
  top:1304px;
  width:100px;
  height:60px;
}
#u678 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u679 {
  position:absolute;
  left:350px;
  top:1260px;
  width:0px;
  height:0px;
}
#u679_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u679_seg1 {
  position:absolute;
  left:-4px;
  top:70px;
  width:414px;
  height:8px;
}
#u679_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u679_seg3 {
  position:absolute;
  left:397px;
  top:64px;
  width:20px;
  height:20px;
}
#u680 {
  position:absolute;
  left:118px;
  top:66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681 {
  position:absolute;
  left:860px;
  top:1334px;
  width:0px;
  height:0px;
}
#u681_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u681_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u681_seg2 {
  position:absolute;
  left:75px;
  top:-10px;
  width:20px;
  height:20px;
}
#u682 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683 {
  position:absolute;
  left:740px;
  top:910px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u683_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u683_seg1 {
  position:absolute;
  left:11px;
  top:-545px;
  width:8px;
  height:549px;
}
#u683_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u683_seg3 {
  position:absolute;
  left:5px;
  top:-552px;
  width:20px;
  height:20px;
}
#u684 {
  position:absolute;
  left:-35px;
  top:-273px;
  width:100px;
  word-wrap:break-word;
}
#u685 {
  position:absolute;
  left:355px;
  top:258px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u685_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:183px;
  height:8px;
}
#u685_seg1 {
  position:absolute;
  left:175px;
  top:-4px;
  width:8px;
  height:81px;
}
#u685_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u685_seg3 {
  position:absolute;
  left:169px;
  top:64px;
  width:20px;
  height:20px;
}
#u686 {
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u687 {
  position:absolute;
  left:130px;
  top:90px;
  width:30px;
  height:219px;
  font-size:16px;
}
#u688 {
  position:absolute;
  left:2px;
  top:72px;
  width:26px;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u689 {
  position:absolute;
  left:130px;
  top:309px;
  width:30px;
  height:219px;
  font-size:16px;
}
#u690 {
  position:absolute;
  left:2px;
  top:72px;
  width:26px;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u691 {
  position:absolute;
  left:130px;
  top:528px;
  width:30px;
  height:541px;
  font-size:16px;
}
#u692 {
  position:absolute;
  left:2px;
  top:232px;
  width:26px;
  word-wrap:break-word;
}
#u693 {
  position:absolute;
  left:1155px;
  top:1040px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u693_seg0 {
  position:absolute;
  left:-4px;
  top:-459px;
  width:8px;
  height:459px;
}
#u693_seg1 {
  position:absolute;
  left:-571px;
  top:-459px;
  width:575px;
  height:8px;
}
#u693_seg2 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u693_seg3 {
  position:absolute;
  left:-578px;
  top:-465px;
  width:20px;
  height:20px;
}
#u694 {
  position:absolute;
  left:-108px;
  top:-463px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u695 {
  position:absolute;
  left:130px;
  top:1069px;
  width:30px;
  height:201px;
  font-size:16px;
}
#u696 {
  position:absolute;
  left:2px;
  top:62px;
  width:26px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u697 {
  position:absolute;
  left:130px;
  top:1270px;
  width:30px;
  height:131px;
  font-size:16px;
}
#u698 {
  position:absolute;
  left:2px;
  top:28px;
  width:26px;
  word-wrap:break-word;
}
#u699 {
  position:absolute;
  left:710px;
  top:804px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u699_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:504px;
  height:8px;
}
#u699_seg1 {
  position:absolute;
  left:496px;
  top:-458px;
  width:8px;
  height:462px;
}
#u699_seg2 {
  position:absolute;
  left:338px;
  top:-458px;
  width:166px;
  height:8px;
}
#u699_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u699_seg4 {
  position:absolute;
  left:331px;
  top:-464px;
  width:20px;
  height:20px;
}
#u700 {
  position:absolute;
  left:450px;
  top:-66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
