body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1400px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1400px;
}
#u835 {
  position:absolute;
  left:2px;
  top:692px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u836 {
  position:absolute;
  left:260px;
  top:230px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u837 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u838 {
  position:absolute;
  left:509px;
  top:460px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u839 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u840 {
  position:absolute;
  left:509px;
  top:316px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u841 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u842 {
  position:absolute;
  left:559px;
  top:376px;
  width:0px;
  height:0px;
}
#u842_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u842_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u842_seg2 {
  position:absolute;
  left:-10px;
  top:71px;
  width:20px;
  height:20px;
}
#u843 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u844 {
  position:absolute;
  left:670px;
  top:391px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u845 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:670px;
  top:421px;
  width:0px;
  height:0px;
}
#u846_seg0 {
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u846_seg1 {
  position:absolute;
  left:-54px;
  top:-79px;
  width:8px;
  height:83px;
}
#u846_seg2 {
  position:absolute;
  left:-61px;
  top:-79px;
  width:15px;
  height:8px;
}
#u846_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u846_seg4 {
  position:absolute;
  left:-68px;
  top:-85px;
  width:20px;
  height:20px;
}
#u847 {
  position:absolute;
  left:-100px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u848 {
  position:absolute;
  left:770px;
  top:316px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u849 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:360px;
  top:260px;
  width:0px;
  height:0px;
}
#u850_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:464px;
  height:8px;
}
#u850_seg1 {
  position:absolute;
  left:456px;
  top:-4px;
  width:8px;
  height:64px;
}
#u850_seg2 {
  position:absolute;
  left:456px;
  top:56px;
  width:8px;
  height:4px;
}
#u850_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u850_seg4 {
  position:absolute;
  left:450px;
  top:43px;
  width:20px;
  height:20px;
}
#u851 {
  position:absolute;
  left:208px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852 {
  position:absolute;
  left:770px;
  top:346px;
  width:0px;
  height:0px;
}
#u852_seg0 {
  position:absolute;
  left:-161px;
  top:-4px;
  width:165px;
  height:8px;
}
#u852_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u852_seg2 {
  position:absolute;
  left:-168px;
  top:-10px;
  width:20px;
  height:20px;
}
#u853 {
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u854 {
  position:absolute;
  left:509px;
  top:648px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u855 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u856 {
  position:absolute;
  left:670px;
  top:502px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u857 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u858 {
  position:absolute;
  left:609px;
  top:490px;
  width:0px;
  height:0px;
}
#u858_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u858_seg1 {
  position:absolute;
  left:47px;
  top:-4px;
  width:8px;
  height:50px;
}
#u858_seg2 {
  position:absolute;
  left:47px;
  top:38px;
  width:14px;
  height:8px;
}
#u858_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u858_seg4 {
  position:absolute;
  left:48px;
  top:32px;
  width:20px;
  height:20px;
}
#u859 {
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860 {
  position:absolute;
  left:720px;
  top:502px;
  width:0px;
  height:0px;
}
#u860_seg0 {
  position:absolute;
  left:-4px;
  top:-51px;
  width:8px;
  height:55px;
}
#u860_seg1 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u860_seg2 {
  position:absolute;
  left:-10px;
  top:-58px;
  width:20px;
  height:20px;
}
#u861 {
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:559px;
  top:520px;
  width:0px;
  height:0px;
}
#u862_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:132px;
}
#u862_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u862_seg2 {
  position:absolute;
  left:-10px;
  top:115px;
  width:20px;
  height:20px;
}
#u863 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u864 {
  position:absolute;
  left:509px;
  top:766px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u865 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u866 {
  position:absolute;
  left:559px;
  top:708px;
  width:0px;
  height:0px;
}
#u866_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u866_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u866_seg2 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u867 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u868 {
  position:absolute;
  left:670px;
  top:648px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u869 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u870 {
  position:absolute;
  left:609px;
  top:678px;
  width:0px;
  height:0px;
}
#u870_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u870_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u870_seg2 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u871 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:720px;
  top:648px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u872_seg0 {
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u872_seg1 {
  position:absolute;
  left:-165px;
  top:-18px;
  width:169px;
  height:8px;
}
#u872_seg2 {
  position:absolute;
  left:-165px;
  top:-18px;
  width:8px;
  height:18px;
}
#u872_seg3 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u872_seg4 {
  position:absolute;
  left:-171px;
  top:-13px;
  width:20px;
  height:20px;
}
#u873 {
  position:absolute;
  left:-130px;
  top:-22px;
  width:100px;
  word-wrap:break-word;
}
#u874 {
  position:absolute;
  left:770px;
  top:421px;
  width:0px;
  height:0px;
}
#u874_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u874_seg1 {
  position:absolute;
  left:46px;
  top:-45px;
  width:8px;
  height:49px;
}
#u874_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u874_seg3 {
  position:absolute;
  left:40px;
  top:-52px;
  width:20px;
  height:20px;
}
#u875 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u876 {
  position:absolute;
  left:250px;
  top:500px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u877 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u878 {
  position:absolute;
  left:509px;
  top:796px;
  width:0px;
  height:0px;
}
#u878_seg0 {
  position:absolute;
  left:-53px;
  top:-4px;
  width:53px;
  height:8px;
}
#u878_seg1 {
  position:absolute;
  left:-53px;
  top:-230px;
  width:8px;
  height:234px;
}
#u878_seg2 {
  position:absolute;
  left:-213px;
  top:-230px;
  width:168px;
  height:8px;
}
#u878_seg3 {
  position:absolute;
  left:-213px;
  top:-236px;
  width:8px;
  height:14px;
}
#u878_seg4 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u878_seg5 {
  position:absolute;
  left:-219px;
  top:-243px;
  width:20px;
  height:20px;
}
#u879 {
  position:absolute;
  left:-99px;
  top:-182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880 {
  position:absolute;
  left:350px;
  top:530px;
  width:0px;
  height:0px;
}
#u880_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u880_seg1 {
  position:absolute;
  left:136px;
  top:-188px;
  width:8px;
  height:192px;
}
#u880_seg2 {
  position:absolute;
  left:136px;
  top:-188px;
  width:23px;
  height:8px;
}
#u880_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u880_seg4 {
  position:absolute;
  left:146px;
  top:-194px;
  width:20px;
  height:20px;
}
#u881 {
  position:absolute;
  left:90px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882 {
  position:absolute;
  left:250px;
  top:530px;
  width:0px;
  height:0px;
}
#u882_seg0 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u882_seg1 {
  position:absolute;
  left:-34px;
  top:-334px;
  width:8px;
  height:338px;
}
#u882_seg2 {
  position:absolute;
  left:-34px;
  top:-334px;
  width:608px;
  height:8px;
}
#u882_seg3 {
  position:absolute;
  left:566px;
  top:-334px;
  width:8px;
  height:124px;
}
#u882_seg4 {
  position:absolute;
  left:566px;
  top:-214px;
  width:8px;
  height:4px;
}
#u882_seg5 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u882_seg6 {
  position:absolute;
  left:560px;
  top:-227px;
  width:20px;
  height:20px;
}
#u883 {
  position:absolute;
  left:98px;
  top:-338px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u884 {
  position:absolute;
  left:950px;
  top:316px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u885 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u886 {
  position:absolute;
  left:870px;
  top:346px;
  width:0px;
  height:0px;
}
#u886_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u886_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u886_seg2 {
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u887 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u888 {
  position:absolute;
  left:1080px;
  top:1090px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u889 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:770px;
  top:678px;
  width:0px;
  height:0px;
}
#u890_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:364px;
  height:8px;
}
#u890_seg1 {
  position:absolute;
  left:356px;
  top:-4px;
  width:8px;
  height:416px;
}
#u890_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u890_seg3 {
  position:absolute;
  left:350px;
  top:399px;
  width:20px;
  height:20px;
}
#u891 {
  position:absolute;
  left:310px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u892 {
  position:absolute;
  left:1080px;
  top:1200px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u893 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:1130px;
  top:1150px;
  width:0px;
  height:0px;
}
#u894_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u894_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u894_seg2 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u895 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u896 {
  position:absolute;
  left:240px;
  top:1200px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u897 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:1080px;
  top:1230px;
  width:0px;
  height:0px;
}
#u898_seg0 {
  position:absolute;
  left:-740px;
  top:-4px;
  width:744px;
  height:8px;
}
#u898_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u898_seg2 {
  position:absolute;
  left:-747px;
  top:-10px;
  width:20px;
  height:20px;
}
#u899 {
  position:absolute;
  left:-420px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u900 {
  position:absolute;
  left:350px;
  top:766px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u901 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:1080px;
  top:1120px;
  width:0px;
  height:0px;
}
#u902_seg0 {
  position:absolute;
  left:-684px;
  top:-4px;
  width:684px;
  height:8px;
}
#u902_seg1 {
  position:absolute;
  left:-684px;
  top:-294px;
  width:8px;
  height:298px;
}
#u902_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u902_seg3 {
  position:absolute;
  left:-690px;
  top:-301px;
  width:20px;
  height:20px;
}
#u903 {
  position:absolute;
  left:-537px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u904 {
  position:absolute;
  left:230px;
  top:40px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u905 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u906 {
  position:absolute;
  left:350px;
  top:40px;
  width:100px;
  height:60px;
  color:#00B9F2;
}
#u907 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:360px;
  top:260px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u908_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:203px;
  height:8px;
}
#u908_seg1 {
  position:absolute;
  left:195px;
  top:-4px;
  width:8px;
  height:60px;
}
#u908_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u908_seg3 {
  position:absolute;
  left:189px;
  top:43px;
  width:20px;
  height:20px;
}
#u909 {
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
