body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:1633px;
}
#u380 {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:1633px;
}
#u381 {
  position:absolute;
  left:2px;
  top:808px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u382 {
  position:absolute;
  left:250px;
  top:180px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u383 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u384 {
  position:absolute;
  left:790px;
  top:180px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u385 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u386 {
  position:absolute;
  left:480px;
  top:330px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u387 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:350px;
  top:210px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u388_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u388_seg1 {
  position:absolute;
  left:176px;
  top:-4px;
  width:8px;
  height:124px;
}
#u388_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u388_seg3 {
  position:absolute;
  left:170px;
  top:107px;
  width:20px;
  height:20px;
}
#u389 {
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  position:absolute;
  left:790px;
  top:210px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u390_seg0 {
  position:absolute;
  left:-264px;
  top:-4px;
  width:264px;
  height:8px;
}
#u390_seg1 {
  position:absolute;
  left:-264px;
  top:-4px;
  width:8px;
  height:124px;
}
#u390_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u390_seg3 {
  position:absolute;
  left:-270px;
  top:107px;
  width:20px;
  height:20px;
}
#u391 {
  position:absolute;
  left:-240px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u392 {
  position:absolute;
  left:790px;
  top:430px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u393 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u394 {
  position:absolute;
  left:580px;
  top:360px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u394_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u394_seg1 {
  position:absolute;
  left:196px;
  top:-4px;
  width:8px;
  height:108px;
}
#u394_seg2 {
  position:absolute;
  left:196px;
  top:96px;
  width:14px;
  height:8px;
}
#u394_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u394_seg4 {
  position:absolute;
  left:197px;
  top:90px;
  width:20px;
  height:20px;
}
#u395 {
  position:absolute;
  left:105px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u396 {
  position:absolute;
  left:900px;
  top:520px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u397 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u398 {
  position:absolute;
  left:890px;
  top:460px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u398_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u398_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:64px;
}
#u398_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u398_seg3 {
  position:absolute;
  left:50px;
  top:47px;
  width:20px;
  height:20px;
}
#u399 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u400 {
  position:absolute;
  left:250px;
  top:520px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u401 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u402 {
  position:absolute;
  left:300px;
  top:240px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u402_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:284px;
}
#u402_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u402_seg2 {
  position:absolute;
  left:-10px;
  top:267px;
  width:20px;
  height:20px;
}
#u403 {
  position:absolute;
  left:-50px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u404 {
  position:absolute;
  left:480px;
  top:624px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u405 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u406 {
  position:absolute;
  left:480px;
  top:810px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u407 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u408 {
  position:absolute;
  left:480px;
  top:470px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u409 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u410 {
  position:absolute;
  left:530px;
  top:390px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u410_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u410_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u410_seg2 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u411 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412 {
  position:absolute;
  left:530px;
  top:530px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u412_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:98px;
}
#u412_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u412_seg2 {
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u413 {
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414 {
  position:absolute;
  left:530px;
  top:684px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u414_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:130px;
}
#u414_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u414_seg2 {
  position:absolute;
  left:-10px;
  top:113px;
  width:20px;
  height:20px;
}
#u415 {
  position:absolute;
  left:-50px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u416 {
  position:absolute;
  left:640px;
  top:810px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u417 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u418 {
  position:absolute;
  left:580px;
  top:840px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u418_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u418_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u418_seg2 {
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u419 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u420 {
  position:absolute;
  left:640px;
  top:920px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u421 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:690px;
  top:870px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u422_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u422_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u422_seg2 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u423 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u424 {
  position:absolute;
  left:300px;
  top:1152px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u425 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u426 {
  position:absolute;
  left:300px;
  top:1259px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u427 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u428 {
  position:absolute;
  left:350px;
  top:1212px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u428_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u428_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u428_seg2 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u429 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u430 {
  position:absolute;
  left:300px;
  top:1361px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u431 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u432 {
  position:absolute;
  left:350px;
  top:1319px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u432_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u432_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u432_seg2 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u433 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u434 {
  position:absolute;
  left:640px;
  top:1040px;
  width:100px;
  height:60px;
  color:#FF9500;
}
#u435 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u436 {
  position:absolute;
  left:690px;
  top:980px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u436_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u436_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u436_seg2 {
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u437 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  position:absolute;
  left:690px;
  top:1100px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u438_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u438_seg1 {
  position:absolute;
  left:-344px;
  top:36px;
  width:348px;
  height:8px;
}
#u438_seg2 {
  position:absolute;
  left:-344px;
  top:36px;
  width:8px;
  height:16px;
}
#u438_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u438_seg4 {
  position:absolute;
  left:-350px;
  top:39px;
  width:20px;
  height:20px;
}
#u439 {
  position:absolute;
  left:-206px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
